{% extends "base.html" %}
{% load static %}
{% block head %}
    <title>clyde blog|登录</title>
{% endblock %}

{% block body %}
<div class="main-content paddsection">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xs-12">
                <div class="row">
                    <div class="container-main single-main">
                        <div class="col-md-12">
                            <div class="block-main mb-30 pd-t50">
                                <div class="content-main single-post padDiv border-r">

        <div class="col-xs-8 col-xs-4">
        {% if not user.is_authenticated %}
            <form action="" method="POST">     <!--POST大写，这里action一定要空。不然后面提交表单时候会出问题无法跳转回之前页面.提交为空表示提交给当前页面-->
            {% csrf_token %}
            {% for field in login_form %}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                <p class="text-danger">{{ field.errors.as_text }}</p>
            {% endfor %}
            <span id="tip" class="text-danger">{{ login_form.non_field_errors }}</span>
            <input type="submit" class="btn btn-primary" value="登录">
            <a class="btn btn-danger span-right" href="{% url 'register' %}?from={{ request.get_full_path }}">注册</a>
            </form>
        {% else %}
            <span>已登录，跳转到首页...</span>
            <script type="text/javascript">
                window.location.href = '/';
            </script>
        {% endif %}
        </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}

