/**{margin: 0;padding: 0;}*/
/*body{background-image: url('../assets/img/bg.jpg');}*/
/*#main{border-radius: 6px;background: #FFFFFF;}*/
/*.mainer{background: #FFFFFF;border-radius: 6px;}*/


.span-right {
  float:right;
}

.diag {
    height: 6px;
    background: url(../assets/img/bg-diag.png) repeat-x;
    width: 98%;
    margin: 4px 0px 5px 10px;
}

.main-content_imp {
    padding-top: 100px!important;
}


@media (min-width: 960px){
    .list_head{
        margin: 0 80px;
    }
}




.list_head {
    padding: 10px 0 30px 0;
    min-height: 40px;
    align-items: center!important;
    justify-content: space-between!important;
    display: flex!important;
}

.list_head ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.list_head ol + li {
  padding-left: 10px;
}

.list_head ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}



.hero-content {
    padding-left: 150px;
}

/*.blog {*/
/*    list-style: none;*/
/*}*/

/*添加缩进*/
.margin-h {
    padding:0 80px!important;
}

#body_bg {
    background: url("../img/hyejin.jpg") center!important;
}

.border-r {
    border-radius: 15px;
}
.page-item.active {
    background-color: #5b2ac9!important;
}