{% extends "base.html" %}
{% load comment_tags %}

{% block head %}
    <title>{{article.title}}-{{ article.category.name }}</title>
{#    <meta content="{{article.keywords}}" name="keywords">#}
{#    <meta content="{{article.descriptison}}" name="descriptison">#}

<!--    <meta content="{{webseo.keywords}}" name="keywords">
    <meta content="{{webseo.descriptison}}" name="descriptison">
-->

{% endblock %}

{% block body %}

<div class="main-content paddsection">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-md-offset-2">
                <div class="row">
                    <div class="container-main single-main">
                        <div class="col-md-12">
                            <div class="block-main mb-30">
{#                                <img src="assets/img/blog-post-big.jpg" class="img-responsive" alt="reviews2">#}
                                <div class="content-main single-post padDiv border-r">
                                    <div class="journal-txt">
                                        <h4><a href="#">{{article.title}}</a></h4>
                                    </div>
                                    <div class="post-meta">
                                        <ul class="list-unstyled mb-0">
                                            <li class="author">作者：<a href="#">{{article.author}}</a></li>
                                            <li class="date">发表日期：<a href="#">{{ article.created_time|date:"Y-m-d H:i:s" }}</a></li>
                                            <li class="commont"><i class="ion-ios-heart-outline"></i>阅读数：<a href="#">{{ article.get_read_num }}</a></li>
                                            <li class="commont"><i class="ion-ios-heart-outline"></i>评论数：<a href="#">{% get_comment_num article %}</a></li>
                                        </ul>
                                    </div>
                                    <p class="mb-30">
                                        {{article.body|safe}}
                                    </p>
                                </div>

                            </div>
                        </div>
                        <!-- comment -->
                        {% include 'comment.html' %}
                        <!-- comment -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}




