{% extends "base.html" %}
{% load comment_tags %}
{% load static %}
{% block head %}
    <title>{{article.title}}-{{ article.category.name }}</title>
    <meta content="{{article.keywords}}" name="keywords">
    <meta content="{{article.descriptison}}" name="descriptison">

<!--    <meta content="{{webseo.keywords}}" name="keywords">
    <meta content="{{webseo.descriptison}}" name="descriptison">
-->

{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8">
                <div class="card-header">{{article.title}}</div>
                <div class="card-body">
                    <h3>博客主题：{{article.title}}</h3>
                    <ul class="blog-detail">
                        <li>作者：{{article.author}}</li>
                        <li>分类：<a href="{% url "blog_category" article.category.id %}">{{article.category.name}}</a></li>
                        <li>发表日期：{{ article.created_time|date:"Y-m-d H:i:s" }}</li>
                        <li>阅读次数：{{ article.get_read_num }}</li>
                        <li>评论数：{% get_comment_num article %}</li>
                    </ul>
                    <div>{{article.body|safe}}</div>
                </div>
            </div>
            <div class="d-none d-md-block col-md-4">
{#{% include 'righter_article.html' %}#}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-8">
                {% include 'comment.html' %}
            </div>

        </div>
    </div>








{% endblock %}

{% block script_extends %}

    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

    <script type="text/javascript">


        $("#comment_form").submit(function(){
            // 判断是否为空
            $("#comment_error").text('');
            if(CKEDITOR.instances["id_text"].document.getBody().getText().trim()==''){
                $("#comment_error").text('评论内容不能为空');
                return false;
            }

            // 更新数据到textarea
            CKEDITOR.instances['id_text'].updateElement();


            // 异步提交
            $.ajax({
                url: "{% url 'submit_comment' %}",
                type: 'POST',
                data: $("#comment_form").serialize(),
                cache: false,
                success: function(data){
                    console.log(data);
                    if(data['status']=="SUCCESS"){
                        if($('#reply_comment_id').val()=='0'){
                            // 插入评论
                            var comment_html = '<div id="root_' + data['id'] + '" class="comment"><span>' + data['username'] + '</span><span> (' + data['comment_time'] + ')：</span><div id="comment_' + data['id'] + '">' + data['text'] + '</div><a href="javascript:reply(' + data['id'] + ');">回复</a></div>';
                            $("#comment_list").prepend(comment_html);
                        }else{
                            // 插入回复
                            var reply_html ='<div class="reply"><span>' + data['username'] + '</span><span> (' + data['comment_time'] + ')</span><span> 回复 </span><span>' + data['reply_to'] + '：</span><div id="comment_' + data['id'] + '">' + data['text'] + '</div><a href="javascript:reply(' + data['id'] + ');">回复</a></div>';
                            $("#root_" + data['root_id']).append(reply_html);
                        }

                        // 清空编辑框的内容
                        CKEDITOR.instances['id_text'].setData('');
                        $('#reply_content_container').hide();
                        $('#reply_comment_id').val('0');
                        $('#no_comment').remove();
                    }else{
                        // 显示错误信息
                        $("#comment_error").text(data['message']);
                    }
                },
                error: function(xhr){
                    console.log(xhr);
                }
            });
            return false;
        });
        function reply(reply_comment_id){
            // 设置值
            $('#reply_comment_id').val(reply_comment_id);
            var html = $("#comment_" + reply_comment_id).html();
            $('#reply_content').html(html);
            $('#reply_content_container').show();

            $('html').animate({scrollTop: $('#comment_form').offset().top - 60}, 300, function(){
                CKEDITOR.instances['id_text'].focus();
            });
        }
    </script>

{% endblock %}