                <div class="card-header">博客分类</div>
                <div class="card-body">
                    <ul class="nav flex-column">
                    {% for i in now_categorys %}
                        {% if i == now_category %}
                            <li class="nav-item active"><a class="nav-link active" href="{% url url_name i.id %}">{{i.name}}</a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link active" href="{% url url_name i.id %}">{{i.name}}</a></li>
                        {% endif %}
                    {% empty %}
                        <li>暂无分类</li>
                    {% endfor %}
                    </ul>
                </div>