{% extends "base.html" %}
{% load static %}
{% load comment_tags %}


{% block head %}
    <title>关于|Clyde Blog</title>
{% endblock %}

{% block body %}





<div class="main-content paddsection">
    <div class="container">
        <div class="text-center head_dairy">
            {% block list_title %}<h3>关于</h3>{% endblock %}
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-md-offset-2">
                <div class="row">
                    <div class="container-main single-main">
                        <div class="col-md-12">
                            <div class="block-main mb-30">
                                <div class="content-main single-post padDiv border-r">

                                <img src="{% static 'img/clyde.jpg' %}" class="img-fluid center-clyde" alt="Responsive image">
<div>
&nbsp;<strong style="font-size: 24px;">关于为什么会有这个blog：</strong><br style="font-size: 24px;" />
<P class="about_text">起初是为了科学上网，搞了个梯子。然后发现租用的VPS还能建网站，不如耍着玩。就研究了一下。找回了以前废寝忘食的干
    劲。&nbsp;非常感谢<a href="https://space.bilibili.com/252028233">"再敲一行代码"</a>的教学视频。django内容基本都是跟着他视频学的。
    <br><br>这网站有什么用呢？一是将我自学的编程、软件归纳整理，方便自己或者有需要的人查看。二是作为一个平台展示自己的作品，进程。三
    是作为一个宣泄场所，宣泄自己的想法、心情。</P>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>



                                </div>
                            </div>
                        </div>
                        <!-- comment -->
{#                        {% include 'comment.html' %}#}
                        <!-- comment -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block index_active %}{% endblock %}