{% extends "base.html" %}

{% block head %}
    <title>错误</title>
{% endblock %}

{% block body %}

<div class="main-content paddsection">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xs-12">
                <div class="row">
                    <div class="container-main single-main">
                        <div class="col-md-12">
                            <div class="block-main mb-30 pd-t50">
                                <div class="content-main single-post padDiv border-r">

{{ message }}<a href="{{ redirect_to }}">返回</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block index_active %}{% endblock %}