{% load static %}
{% load comment_tags %}
<!DOCTYPE html>
<html lang="zh">
<head>
  <title>Clyde Blog</title>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="试试建站。会经常更新自己学习编程的心得，也有一些平时收藏的软件提供下载。平时心情不好来这里发泄发泄哈哈。" name="descriptison">
  <meta content="郑伊田,伊田,clyde,blog,clyde blog" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/hover/hover.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- Template clyde CSS File -->
  <link href="{% static 'css/clydeblog.css' %}" rel="stylesheet">
  <!-- seo -->
{% include 'seo.html' %}
</head>

<body>
    <!-- ======= Navbar ======= -->
<nav id="main-nav">
    {% include 'nav_head.html' %}
</nav>
    <!-- End #nav-menu -->

  <!-- ======= Hero Section ======= -->
  <div id="hero" class="home">

    <div class="container">
      <div class="hero-content">
        <h1><span class="typed"></span></h1>
        <p class="typed-items" data-typed-person="欢迎来到Clyde Blog"><span style="display: none">我是郑伊田,建筑设计师,一头160斤肥猪,我热爱编程,也喜欢玩桌游,请多多指教</span></p>


      </div>
    </div>
  </div>
  <!-- End Hero -->

  <main id="main">


<!-- ======= Gossip Section ======= -->
    <div id="portfolio" class="paddsection">

      <div class="container">
        <div class="section-title text-center">
          <h2>闲言碎语</h2>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 justify-content-center gossip_main">

			<div class="gossip_random"></div>
<script>
$.getJSON("{% url 'gossip_index' %}",function(ret){
 (function($) {
  var ui = {
    $grabMain: $('.gossip_main')
  };
  var oConfig = window.oPageConfig;
  var interval = null;
  var move = null;

  var oPage = {
    init: function() {
      this.view();
    }
  , view: function() {
      var self = this;
      var time = 1;
      var m = 0;
        var i = 0;
        var gossip = ret["gossip"];
        move = setInterval(function() {
          if (i < 20) {
          var fullwidth = Math.floor($('.gossip_main'). outerWidth(true));//;
          var fullheight = Math.floor($('.gossip_main'). outerHeight(true));//;
          var left = Math.floor(Math.random() * fullwidth * 0.8);
          var top = Math.floor(Math.random() * fullheight * 0.8);
          var shu = Math.floor(Math.random() * gossip.length);
          if (i != (19)) {var gossip_item = $("<div class='gossip_random'>"+gossip[shu]+"</div>");}else {var gossip_item = $("<div class='gossip_random'>"+gossip[0]+"</div>");}
          var word_width = gossip[shu].length*18.5;
          if (word_width > 220){word_width = 220}
          if (word_width+left > fullwidth){left = fullwidth-220}
          gossip_item.css({'left':left,'top':top}).appendTo($('.gossip_main'));
          $('.gossip_random').eq(0).fadeOut(400);
          setTimeout(function() {
            $('.gossip_random').eq(0).remove();
          },700);
          i++
        }else {
        }
        }, 1300)
    }
  };
  oPage.init();
})($)

});

</script>

          </div>
        </div>
      </div>

    </div>


    <!-- ======= About Section ======= -->
    <div id="about" class="paddsection">
      <div class="container">
        <div class="row justify-content-between">

          <div class="col-lg-4 ">
            <div class="div-img-bg">
              <div class="about-img">
                <img src="{% static 'img/clyde.jpg' %}" class="img-responsive" alt="me">
              </div>
            </div>
          </div>

          <div class="col-lg-7">
            <div class="about-descr">

              <p class="p-heading">我是建筑设计师</p>
              <p class="separator">虽然我更喜欢编程。</p>

            </div>

          </div>
        </div>
      </div>
    </div><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <div id="services">
      <div class="container">

        <div class="services-carousel owl-theme">

          <div class="services-block">

            <i class="ion-ios-lightbulb-outline"></i>c
            <span>design</span>
            <p class="separator">户型强排，平面布置，停车库设计，建筑外表皮设计</p>

          </div>

          <div class="services-block">

            <i class="ion-ios-browsers-outline"></i>
            <span>PS/AI/ID</span>
            <p class="separator">掌握Photoshop+Illustrator+InDesign的文本制作流程。</p>

          </div>

          <div class="services-block">

            <i class="ion-ios-color-wand-outline"></i>
            <span>revit/rhino</span>
            <p class="separator">掌握revit与rhino的建模方法。rhino可建较复杂曲面</p>

          </div>

          <div class="services-block">

            <i class="ion-social-android-outline"></i>
            <span>grasshopper/GhPython</span>
            <p class="separator">掌握参数化的原理。运用编程调用grasshopper接口的方法生成复杂曲面。</p>

          </div>

          <div class="services-block">

            <i class="ion-ios-analytics-outline"></i>
            <span>Python/Django/CSS/JS</span>
            <p class="separator">掌握python语言。会用Django建立简单应用。会用css与JavaScript美化网页。</p>

          </div>

        </div>

      </div>

    </div>
    <!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <div id="portfolio" class="paddsection">

      <div class="container">
        <div class="section-title text-center">
          <h2>我的体重</h2>
        </div>
      </div>

      <div class="container">

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
              <div class="health_container"><div id="health"></div></div>

          </div>
        </div>

  <script src="{% static 'js/highcharts.js' %}"></script>
  <script>
$.getJSON("{% url 'myhealth' %}",function(myweight) {
    Highcharts.chart('health', {
        chart: {
            {#type: 'area',#}
            backgroundColor: 'rgba(0,0,0,0)',
            animation: false,
            {#height:500,#}
            {#events:{load:getdata}#}
            {#width:1240#}
        },
        title: {
            text: null
        },
        xAxis: {
            categories: myweight['time'],
            {#categories: {{ health}},#}
            labels: {enabled: false},
        },
        yAxis: {
            title: {text: "公斤"},
            min: myweight['weight_min'],  //最小
            tickInterval: 1, //步长
            max:myweight['weight_max'],//最大 　　　　　　　　　　　　　　
        },
        plotOptions: {
            area: {
                fillOpacity: 0.8, // 指定所有面积图的透明度
                marker: {
                    enabled: false,
                    symbol: 'circle',
                    radius: 2,
                    states: {
                        hover: {
                            enabled: true
                        }
                    }
                }
            },
        },
        series: [
            {
                type: 'area',
                name: '体重',
                data: myweight['weight'],
                {#data: [],#}
                color: '#5B2AC9',
                fillColor: {       // 设置渐变的填充颜色
                    linearGradient: {
                        x1: 0,
                        y1: 0,
                        x2: 0,
                        y2: 1
                    },
                    stops: [
                        [0, Highcharts.getOptions().colors[4]],
                        [1, Highcharts.Color(Highcharts.getOptions().colors[5]).setOpacity(0).get('rgba')]
                    ]
                },
            },
        ],
        credits: {enabled: false},
    });
})

  </script>

    </div>
    <!-- End Portfolio Section -->

    <!-- ======= Journal Section ======= -->
    <div id="journal" class="text-left paddsection">

      <div class="container">
        <div class="section-title text-center">
          <h2>我的博客</h2>
        </div>
      </div>

      <div class="container">
        <div class="journal-block">
          <div class="row">
                    {% for i in archblogs %}
                    <div class="col-lg-4 col-md-6">
                        <div class="journal-info">

{#                <a href="#"><img src="assets/img/blog-post-1.jpg" class="img-responsive" alt="img"></a>#}

                <div class="journal-txt">
                  <h3><a href="{{ i.get_absolute_url }}">{{i.title|striptags|truncatechars_html:50}}</a></h3>
                  <p class="separator">{{ i.body|striptags|truncatechars_html:70 }}...
                  </p>

                </div>

              </div>
                    </div>
                    {% empty %}
                        <li>暂无文章</li>
                    {% endfor %}


          </div>
        </div>
      </div>

    </div>
    <!-- End Journal Section -->

    <!-- ======= Contact Section ======= -->
    <div id="contact" class="paddsection">
      <div class="container">
        <div class="contact-block1">
          <div class="row">

            <div class="col-lg-6">
              <div class="contact-contact">

                <h2 class="mb-30">联系我</h2>

                <ul class="contact-details">
                  <li><span>QQ：66704470</span></li>
                  <li><span>微信：clyde91</span></li>
                  <li><span>邮箱：clyde91@163.com</span></li>
{#                  <li><span>邮箱：clyde91@163.com</span></li>#}
                </ul>

              </div>
            </div>

            <div class="col-lg-6">
              <form action="{% url 'contact_me' %}" method="POST" role="form" class="php-email-form">
                  {% csrf_token %}
                <div class="row">

                  <div class="col-lg-6">
                    <div class="form-group contact-block1">
                      <input type="text" name="name" class="form-control" id="name" placeholder="你的名字" data-rule="minlen:1" data-msg="请输入你的名字" />
                      <div class="validate"></div>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <input type="email" class="form-control" name="email" id="email" placeholder="你的邮箱" data-rule="email" data-msg="请输入有效的邮箱" />
                      <div class="validate"></div>
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <div class="form-group">
                      <input type="text" class="form-control" name="subject" id="subject" placeholder="主题" data-rule="minlen:2" data-msg="主题至少输入2个字" />
                      <div class="validate"></div>
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <div class="form-group">
                      <textarea class="form-control" name="message" rows="12" data-rule="required" data-msg="内容不能为空" placeholder="信息"></textarea>
                      <div class="validate"></div>
                    </div>
                  </div>

                  <div class="col-lg-12 mb-3">
                    <div class="loading">Loading</div>
{#                    <div class="error-message"></div>#}
                    <div class="sent-message">Your message has been sent. Thank you!</div>
                  </div>

                  <div class="col-lg-12">
                    <input type="submit" class="btn btn-defeault btn-send" value="发送信息">
                  </div>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Contact Section -->

  </main><!-- End #main -->


  <!-- ======= Footer ======= -->
  {% include 'footer.html' %}
  <!-- End Footer -->

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/typed/typed.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery-sticky/jquery.sticky.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>



</body>

</html>