{% extends "base.html" %}
{% load static %}
{% block head %}
    <title>test</title>
{% endblock %}

{% block body %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{{ time | safe }}
{{ weight | safe }}
  <div id="health"></div>

{#  <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>#}
  <script src="https://code.highcharts.com/highcharts.src.js"></script>

  <script>
    Highcharts.chart('health', {
        {#chart: {#}
        {#    type: 'column'#}
        {#},#}
        title: {
            text: '体重'
        },
        xAxis: {
            categories: {{ time | safe }}
        },
        series: [{
            name: 'Year 1800',
            data: {{ weight | safe }}
        }, ]
    });
  </script>



{% endblock %}