{% extends "base.html" %}
{% load static %}
{% load comment_tags %}
{% block head %}
    <title>test</title>
{#    <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>#}
    <script src="{% static 'js/clydeblog.js' %}"></script>

{% endblock %}

{% block body %}

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
<!-- ======= Gossip Section ======= -->
    <div id="portfolio" class="paddsection">

      <div class="container">
        <div class="section-title text-center">
          <h2>闲言碎语</h2>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">


		<div class="gossip_main">
			<div class="gossip_random"></div>
		</div>

          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">

          </div>
        </div>
      </div>




    </div>









<script>
$.getJSON("{% url 'gossip_index' %}",function(ret){
 (function($) {
  var ui = {
    $grabMain: $('.gossip_main')
  };
  var oConfig = window.oPageConfig;
  var interval = null;
  var move = null;

  var oPage = {
    init: function() {
      this.view();
    }
  , view: function() {
      var self = this;
      var time = 1;
      var m = 0;
        var i = 0;
        var left1 = 0;
        move = setInterval(function() {
          if (i < 10) {
          var full = Math.ceil(parseInt($('.gossip_main'). outerWidth(true))/10);//;
          var left = Math.ceil(Math.random() * (9 - 0) + 0) * full;
          var top = Math.ceil(Math.random() * (9 - 0) + 0) * 18;
          var shu = Math.ceil(Math.random() * (4));
          var cha = Math.abs(left - left1);

          $("<div class='gossip_random'>"+left+"</div>").css({'left':left,'top':top}).appendTo($('.gossip_main'));
          $('.gossip_random').eq(0).fadeOut(400);
          setTimeout(function() {
            $('.gossip_random').eq(0).remove();
          },500);
          i++
        }else {
        }
        }, 600)
    }
  };
  oPage.init();
})($)

});

</script>




{% endblock %}